.EnrollmentCenter{
    padding: 0px !important;
}
.Enrollmentmid{
    margin-top: 1px;
    padding-top: 1px;
    background: #f8f9fa;
}
.EnrollmentXuzhi{
    margin: 20px;
    background: #fff;
    color: #777777;
    padding: 20px;
    line-height: 35px;
    overflow: auto;
}
.EnrollmentXieyi{
    display: none;
    text-align: left;
    padding-left: 22px;
    overflow: auto;
    padding-top: 20px;
}
.EnrollmentFormP{
    margin-left: 50px;
    padding-top: 20px;
}
.EnrollmentFormX{
    color: #f00;
}
.EnrollmentForm{
    margin-top: 50px;
    background: url(../img/Enrollment01_03.jpg) 100%;
}
.EnrollmentFormP{
    height: 50px;
    margin-left: 50px;
    padding-top: 20px;
}
.EnrollmentFormS {
    width: 80px;
    display: inline-block;
}
.EnrollmentFormInput {
    width: 200px;
}
.EnrollmentSubmitOne {
    margin-top: 60px;
    height: 100px;
}