/*introPublic start 寮犳槉鏉�*/
.introDuce{
    position: relative;
height: 1340px;
}
@media(min-width:770px){
    .introDuce{
        height:900px;
    }
}
@media(min-width:890px){
    .introDuce{
        height:1100px;
    }
}
@media(min-width:960px) and (max-width:1206px){
    .introDuce{
        height:1300px;
    }
}
@media(min-width:1206px){
    .introDuce{
       height: 1120px; 
    }
}
.introDuceContent{
    margin-top: 27px;
}
 .trIntroduceLeft{
     font-size: 20px;
      
    height: 380px;
    background: url("../img/RightBg.png");
    }

    .trIntroduceLeft>ul{
        width: 110%;
        margin-top: 80px;
        list-style: none;
        background: #fff;
    }
    .trIntroduceLeft>ul>li{
        margin-left: -40px;
        height: 60px;
        line-height: 60px;
    }
    .trIntroduceLeftJiantou{
        position: absolute;
        right: 5px;
    }
    .trIntroduceLeft>ul>li>a{
        color: #676767;
        height: 60px;
        width: 90%;
        border-bottom: 1px dashed #999;
        display: block;
    }
    .trIntroduceLeft>ul>li>a:hover{
        text-decoration: none;
    }
    .trIntroduceLeft>ul>li:hover{
        background: #ffba14;
    }
    .trIntroduceLeft>ul>li:hover>a{
        color: #fff;
        position: relative;
    }
   /* .introActive{background-color:#ffba14;color: #fff; }*/
/*introPublic end 寮犳槉鏉�*/
/*introHonor start 鏉庢槬鐢�*/
.honor{
   width:50%;
    height:auto;
    background:url("../img/honorBg.png") no-repeat center top;
    margin-left:5%;

}
@media(max-width:768px){
    .honor{
        width:100%;
        margin-left:0;
    }
   
}

.honorImg div{
    margin-top:40px;

}
@media(max-width:768px){
    .introDuce{
        height:950px;
    }
}

/*introHonor end 鏉庢槬鐢�*/

/*introCultrue  start 鐜嬫収鐞�*/
@font-face{
        font-family: ;
        src: url();
    }

.content>.row>.cultureText{
    color:#5e5e5e;
    letter-spacing: 3px;
    
    
}
.content>.row>.cultureText>h3{
    text-align: left;
}
.content>.row>.cultureText>.cultureTitle{
    z-index: 3;
    position: relative;
    
}
.content>.row>.cultureText>.cultureTitleEg{
    text-indent: 2em;
    color: #fcddb6;
    margin-top: -25px;
    text-transform: uppercase;
    border-bottom: solid #ff9914 1px;

}
.content>.row>.cultureText>h4{
    text-align: left;
    text-indent: 2em;
    line-height: 2;
}
@media(max-width:768px){
    .content>.row>.cultureText>.cultureTitleEg{
        margin-left: -8%;
    }

    .content{
        height:800px;
    }
    .content>.row>.cultureText>.cultureTitleEg{
      font-size: 1em;
      line-height: 1.5;
      text-indent: 4em;
  }
    }
}
@media(min-width:770px){
    .content{
        height:2000px;
        margin-left:90px;
    }
}
@media(min-width:890px){
    .content{
        height:1600px;
    }
}
@media(min-width:960px) and (max-width:1206px){
    .content{
        height:1500px;
    }
}
@media(min-width:1206px){
    .content{
        height:0px;
    }
}

.vr{
    width: 100%;
    height: 600px;
    background-color: #00ff00;
}
/*introCulture end 鐜嬫収鐞�*/
/*introsSpeech start 寮犺开*/



.duanluo h4{
    text-align: left;
    text-indent: 2em;
    font-family: "寰蒋闆呴粦";
    line-height: 32px;
}

@media (min-width: 768px) {
.duanluo{
    position: absolute;
}
.pic{
    margin-left: 78%;
}
.duanluo>.lineHeight{
	line-height:30px;
	text-align:left;
    text-indent: 2em;
}
 
.content>.row>.cultureText{
    margin-left: 90px;
}
}
@media (max-width: 768px) {
    
    .PhoneNav>ul>li>ul>li>a.active{
        color: #000;
    }
    .duanluo>.lineHeight{
    line-height: 20px;
    text-align:left;
    text-indent: 2em;
}
}

/*introspeech end 寮犺开*/
@media(min-width:770px) and (max-width:1024px){
	 #footer{
    	margin-top:585px!important	;
    }
}
@media(min-width:1024px){
    #footer{
        margin-top: 150px!important;
    }
}
@media(min-width:380px) and (max-width:500px){
    #footer{
        margin-top: 185px!important;
    }
}
@media(max-width:380px){
    #footer{
        margin-top: 270px;
    }
}